node_modules/
/.pnp
.pnp.js
/coverage
.expo/
web-build/
expo-env.d.ts
/build
dist/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
.env*.local
*.tsbuildinfo
